version: '3.8'

services:

  frontend:
    build:
      context: ./frontend
    ports:
      - "8081:80"
    networks:
      - app_network

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5431"
    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
